<table>
  <thead>
    <tr>
      <th>赛道</th>
    </tr>
  </thead>
  <tbody>
<% @tracks.each do |track| %>
  <tr>
    <td><%= link_to "#{I18n.t "track.name.#{track.name}"}-#{track.config.presence || '默认布局'}", track %></td>
  </tr>
<% end %>
  </tbody>
</table>
<%= link_to '首页', root_path %>
